
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;900&display=swap')
@import "node_modules/bulma/sass/utilities/initial-variables"

//Customization: above line is required to find initial
//variable values
$primary: $blue
$link: $blue
$family-primary: 'Montserrat Alternates', $family-sans-serif
$family-secondary: 'Montserrat Alternates', $family-sans-serif

//Importing all modules from bulma, to modularize go to this
//file and select modules
@import "node_modules/bulma/bulma"

//NavBar.js
.logo
    font-family: $family-primary
    color: #ffffff
    font-weight: 900

.bottom-navbar
    display: flex
    //min-height: 15vh
    justify-content: space-evenly
    align-items: center

@media (min-width: 1024px)
    .bottom-navbar
        display: none

.bottom-navbar-item-loggedout
    width: 50vw
    text-align: center
    padding: 1rem

.burger-res
    top: 0
    height: 4rem

.fade-rule
    height: 0.1rem
    background-color: $primary-light
    width: auto
    margin: 0 0
    // background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%)
    // background-image: -o-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%)
    // background-image: -moz-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%)
    // background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%)
    // background-image: -ms-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%)
    // background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, gray), color-stop(0.98, white) )

.login-box
    box-shadow: 5px 5px 10px 4px $primary-light, -5px -5px 10px 4px $primary-light
//   width: 200px;
//   margin: 20px;
//   height: 150px;
//   border: 1px solid #ccc;
//   padding: 10px;
    //transition: box-shadow 0.2s ease-in-out
//, transform 0.35s ease-in-out

//.login-box:hover
    //box-shadow: 5px 5px 10px 4px $primary-light, -5px -5px 10px 4px $primary-light
    //transform: translateY(-5px)

@media (min-width: 768px)
    .login-form
        margin: 0 2rem

.pill-form-header
    font-family: $family-primary
    font-weight: 600

.pill-form
    display: flex
    flex-wrap: wrap
    flex-direction: column

.pill-label
    display: flex
    font-weight: 500
    position: relative
    overflow: hidden
    margin-bottom: 0.375em
    .pill-input
        position: absolute
        left: -9999px
        &:checked + .pill-span
            background-color: mix(#fff, $primary, 84%)
            &:before
                box-shadow: inset 0 0 0 0.4375em $primary
    .pill-span
        display: flex
        align-items: center
        padding: 0.375em 0.75em 0.375em 0.375em
        border-radius: 99em // or something higher...
        transition: 0.25s ease
        &:hover
            background-color: mix(#fff, $primary, 84%)

        &:before
            display: flex
            flex-shrink: 0
            content: ""
            background-color: #fff
            width: 1.5em
            height: 1.5em
            border-radius: 50%
            margin-right: 0.375em
            transition: 0.25s ease
            box-shadow: inset 0 0 0 0.125em $primary
.pill-label[disabled]
    cursor: not-allowed

.create-poll-modal-body
    height: 40rem
    display: flex
    justify-content: space-around

.create-poll-modal-form
    width: 32rem

.create-poll-modal-arrow
    margin: auto 0
    padding: 0 1rem

.search-box__main-div
    font-family: 'Montserrat Alternates', sans-serif
    color: #FFFFFF
    width: 100%
    max-width: 100%
    height: 100%
    padding: 0
    margin: 0

*, *:before, *:after
    -webkit-tap-highlight-color: transparent
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    user-select: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    -o-user-select: none
    box-sizing: border-box
    -webkit-box-sizing: border-box
    padding: 0
    margin: 0

a, a:visited, a:hover
    color: inherit
    text-decoration: none

.search-box__main
    //position: absolute
    top: 0
    left: 0
    margin: 0 auto
    padding: 0 26px
    width: 100%
    height: 100%
    //background: rgba(154,57,163,1)
    // background: -moz-linear-gradient(-45deg, rgba(154,57,163,1) 0%, rgba(65,103,168,1) 100%)
    // background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(154,57,163,1)), color-stop(100%, rgba(65,103,168,1)))
    // background: -webkit-linear-gradient(-45deg, rgba(154,57,163,1) 0%, rgba(65,103,168,1) 100%)
    // background: -o-linear-gradient(-45deg, rgba(154,57,163,1) 0%, rgba(65,103,168,1) 100%)
    // background: -ms-linear-gradient(-45deg, rgba(154,57,163,1) 0%, rgba(65,103,168,1) 100%)
    // background: linear-gradient(135deg, rgba(154,57,163,1) 0%, rgba(65,103,168,1) 100%)
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a39a3', endColorstr='#4167a8', GradientType=1 )

// h1
//     display: block
//     margin: 0 auto 25px auto
//     text-align: center
//     font-size: 1.92em
//     font-weight: 600
//     letter-spacing: -0.055em

// h2
//     display: block
//     margin: 0 auto 60px auto
//     text-align: center
//     font-weight: 400
//     font-size: 1.25em
//     letter-spacing: -0.015em

.search-box__container
    position: relative
    //margin: calc(75px + 2vh + 2vw) auto 0 auto
    padding: 0
    width: 100%
    //max-width: 840px

.search-box__search-box
    position: relative
    width: 100%
    max-width: 360px
    height: 60px
    border-radius: 120px
    margin: 0 auto

.search-box__search-icon, .search-box__go-icon
    position: absolute
    top: 0
    height: 60px
    width: 86px
    line-height: 61px
    text-align: center

.search-box__search-icon
    z-index: 1
    left: 0
    pointer-events: none
    font-size: 1.22em
    will-change: transform
    transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform-origin: center center
    -webkit-transform-origin: center center
    -moz-transform-origin: center center
    -o-transform-origin: center center
    transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000)
    -webkit-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000)
    -moz-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000)
    -o-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000)

.search-box__si-rotate
    transform: rotate(90deg)
    -webkit-transform: rotate(90deg)
    -moz-transform: rotate(90deg)
    -o-transform: rotate(90deg)

.search-box__go-icon
    right: 0
    pointer-events: none
    font-size: 1.38em
    will-change: opacity
    cursor: default
    opacity: 0
    transform: rotate(45deg)
    -webkit-transform: rotate(45deg)
    -moz-transform: rotate(45deg)
    -o-transform: rotate(45deg)
    transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000)
    -webkit-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000)
    -moz-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000)
    -o-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000)

.search-box__go-in
    opacity: 1
    pointer-events: all
    cursor: pointer
    transform: rotate(0)
    -webkit-transform: rotate(0)
    -moz-transform: rotate(0)
    -o-transform: rotate(0)
    transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000)
    -webkit-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000)
    -moz-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000)
    -o-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000)

.search-box__search-border
    display: block
    width: 100%
    max-width: 360px
    height: 60px

.search-box__border
    fill: none
    stroke: #000000
    stroke-width: 5
    stroke-miterlimit: 10

.search-box__border
    stroke-dasharray: 740
    stroke-dashoffset: 0
    transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990)
    -webkit-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990)
    -moz-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990)
    -o-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990)

.search-box__border-searching .search-box__border
    stroke-dasharray: 740
    stroke-dashoffset: 459
    transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000)
    -webkit-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000)
    -moz-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000)
    -o-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000)

#search-box__search
    font-family: 'Montserrat Alternates', sans-serif
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: 120px
    border: none
    background: $primary
    padding: 0 68px 0 68px
    color: #FFFFFF
    font-size: 1.32em
    font-weight: 400
    letter-spacing: -0.015em
    outline: none

#search-box__search::-webkit-input-placeholder
    color: #FFFFFF
#search-box__search::-moz-placeholder
    color: #FFFFFF
#search-box__search:-ms-input-placeholder
    color: #FFFFFF
#search-box__search:-moz-placeholder
    color: #FFFFFF
#search-box__search::-moz-selection
    color: #FFFFFF
    background: rgba(0,0,0,0.25)
#search-box__search::selection
    color: #FFFFFF
    background: rgba(0,0,0,0.25)
